# .gitignore
/CNN model/multiclass_model.h5
/CNN model/training_samples
/Create_Training/training_samples
/Screen-Recorder/multiclass_model.h5
/Screen-Recorder/recordings
/Screen-Recorder-Interface/model